.Explore-bg {
  background-color: var(--themebackground);
  height: 100%;
}

.Explore-location {
  color: var(--themecards);
  margin: var(--s);
}

.Explore-dropdown {
  border: 2px solid var(--themeborder);
}

.Explore-top {
  margin: 0 var(--s);
}
