.Explore-bg {
  background-color: var(--themebackground);
  height: 100vh;
}

.Explore-title {
  color: var(--themecards);
  margin: var(--s);
  font-size: calc(30px + 1vw);
}

.Explore-dropdown {
  border: 2px solid var(--themeborder);
}

.Explore-top {
  margin: 0 var(--s);
}
