.AddItem-btn {
  margin: var(--xs);
}

.AddItem-nameInputValid {
  border: 2px solid black;
}

.AddItem-nameInputInvalid {
  border: 2px solid red;
}

.AddItem-descInputValid {
  border: 2px solid black;
}

.AddItem-descInputInvalid {
  border: 2px solid red;
}
