.EditProfile-btn {
  margin: var(--s);
}

.EditProfile-img {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  object-fit: cover;

  border: var(--xs) solid var(--darkgrey);
  box-shadow: var(--grey);
  margin: var(--xs);
}

.EditProfile-removebtn {
  margin: var(--xs) var(--xs) var(--s);
}
