.ExploreCard-container {
  max-width: 100%;
  border: 2px solid var(--themeborder);
  border-radius: var(--xs);
  background-color: var(--themecards);
  margin: var(--s) var(--xs);
  padding: var(--xs);
}

.ExploreCard-profileImg {
  display: inline-block;
  width: calc(144px + 1vw);
  height: calc(144px + 1vw);
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;

  border: var(--xs) solid var(--darkgrey);
  box-shadow: var(--grey);
  margin: var(--xs);
}

.ExploreCard-itemImg {
  height: calc(100px + 5vw);
  width: calc(100px + 5vw);
  object-fit: cover;
  border: 2px solid var(--jet);
  border-radius: var(--xs);
}

.ExploreCard-itemImg:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.ExploreCard-itemCard-container {
  margin: var(--xs);
}

.ExploreCard-itemFont {
  font-size: calc(12px + 1vw);
}
