.ExploreCard-container {
  max-width: 100%;
  border: 1px solid var(--darkgrey);
  border-radius: var(--xs);
  background-color: var(--grey);
  margin: var(--s) var(--xs);
  padding: var(--xs);
}

.ExploreCard-profileImg {
  display: inline-block;
  width: 144px;
  height: 144px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;

  border: var(--xs) solid var(--darkgrey);
  box-shadow: var(--grey);
  margin: var(--xs);
}

.ExploreCard-itemImg {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border: 2px solid var(--jet);
  border-radius: var(--xs);
}

.ExploreCard-itemImg:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
