.ItemCard-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--jet);
  border-radius: var(--s);
}

.ItemCard-container {
  padding: var(--xs);
  margin: var(--xs) var(--s);
  border: 1px solid var(--themeborder);
  box-shadow: 0 0 var(--xs) var(--themebackground);
  border-radius: var(--xs);
}
