.ItemList-btn {
  margin: var(--s);
}

.ItemList-container {
  /* border: 1px solid var(--themeborder);
  border-radius: 2px; */
}

.ItemList-card {
  /* background-color: var(--themecards);
  border-bottom: 2px solid var(--themeborder); */
}

.ItemList-hr {
  color: var(--themecards);
}

.ItemList-title {
  color: var(--themecards);
  font-size: calc(20px + 1vw);
  margin: 0 var(--xs);
}

.ItemList-subtitle {
  color: var(--themecards);
  font-size: calc(10px + 1vw);
  margin: var(--xs);
}

.ItemList-text {
  color: var(--themecards);
}
