.ProfileCard-container {
  max-width: 100%;
  border: 2px solid var(--themeborder);
  border-radius: var(--xs);
  background-color: var(--themecards);
  margin: var(--s) var(--xs);
  padding: var(--xs);
  box-shadow: 0 0 var(--xs) var(--themebackground);
}

.ProfileCard-img {
  display: inline-block;
  width: 144px;
  height: 144px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  border: var(--xs) solid var(--darkgrey);
  box-shadow: var(--grey);
  margin: var(--xs);
}

.ProfileCard-info {
  padding: var(--xs);
}
